body {
  background-color: #1e1e2f;
  color: white;
}

.personita-card {
  background-color: #2a2a40;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.personita-card h5 {
  color: #85e0ff;
}
.avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fafafa;
  object-fit: cover;
}
